<div class="footer-section"> 
    <div class = "default-container">
        <div class="brief-frame-box">
            <img src="img/Footer.png" class="footer-img"><!--Icons made by https://www.flaticon.com/authors/freepik" from https://www.flaticon.com/" -->
        </div> <!--the image is a compilation of 3 icons I put together because I thought it looked better-->
        <div class="footer-text">
            <div class="text-bottom">Thank You</div>
        </div>
    </div>
</div> <!--Footer for out pages, just call ejs as its the same.-->