<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="css/websitestyle.css">
    <link rel="stylesheet" href="vendor/fontello-00cf3757/css/fontello.css">
    <style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <%- include('nav.ejs') %>
</header>
<body>

    
    <div class = "topbox-container">
        <div class = "default-container">
            <div class = "topbox-itemtop-1" style="color:blue">Experimental Music. To explore your emotive range</div>
            <div class = "topbox-itemtop-2">The music industry consists of the companies and independent artists that earn money by creating 
                new songs and pieces and organising live concerts and shows, audio and video recordings, compositions and sheet music, 
                and the organizations and associations that aid and represent music creators.</div>
            <div><a href="/sales" class = "linkylink">Link box to sales</a></div>
        </div>
    </div>

    <div class = "outer-container">
        <div class = " list-num-head">We promise</div>
            <div class = "list-num-container">
                <div class = "list-point">
                    <div class = "list-num-img list-num-1"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-2"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-3"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-4"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
        </div>
    </div>


    <div class="squiggles"></div>
    
    <div class = "outer-container body-repeat">
        <div class="frame-box-infoTop">

            <div class = "frame-box-infoNarrow">
                <img src="" alt="" >
                <div id="frame0" class="frame-box-frame"></div>
                
                <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                <h1 class="frame-bulletpoint">Death Grips Something something</h1>
            </div>
            <div class = "frame-box-infoWide">
                <div class = "frame-box-textExplain" id="text-Colour0">
                    
                </div>
                <div class="frame-box-body">
                    <div  class="frame-box-body-point">
                        <div class="flex">
                            <div class="frame-box-body-text">$</div>
                            <div class="frame-box-body-text">1,755</div>
                        </div>
                        <div class="frame-box-body-minor">Hosting from $225 per year</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class="">
                        <div class="frame-box-body-text">5 days</div>
                        <div class="frame-box-body-minor">From approval of brief to functional page</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class = "icon-music nav-picture"></div>
                </div>
                
                <div class = "frame-box-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="frame-box-infoBottom">
            <div class = "frame-box-smallDetail"> </div>
            <div class="frame-box-infoWide">
                <div class="frame-list">
                    <div class="frame-box-list">Includes:</div>
                    <p class="frame-box-list-point">Responsive design<br></p>
                    <p class="frame-box-list-point">Option for multiple languages<br></p>
                    <p class="frame-box-list-point">Online forms<br></p>
                    <p class="frame-box-list-point">Content Management System<br></p>
                </div>
            </div>
            <div class = "frame-box-infoNarrow"><a href="/info" class = "linkylink frame-box-info" id="linkbox0" ></a></div>
        </div>
    </div>

    <div class="squiggles"></div><!--Need Bigger block squiggles-->

    <div class = "outer-container body-repeat">
        <div class="frame-box-infoTop">

            <div class = "frame-box-infoNarrow">
                <img src="" alt="" >
                <div id="frame1" class="frame-box-frame"></div>
                
                <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                <h1 class="frame-bulletpoint">Death Grips Something something</h1>
            </div>
            <div class = "frame-box-infoWide">
                <div class = "frame-box-textExplain" id="text-Colour1">
                    
                </div>
                <div class="frame-box-body">
                    <div  class="frame-box-body-point">
                        <div class="flex">
                            <div class="frame-box-body-text">$</div>
                            <div class="frame-box-body-text">1,755</div>
                        </div>
                        <div class="frame-box-body-minor">Hosting from $225 per year</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class="">
                        <div class="frame-box-body-text">5 days</div>
                        <div class="frame-box-body-minor">From approval of brief to functional page</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class = "icon-music nav-picture"></div>
                </div>
                
                <div class = "frame-box-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="frame-box-infoBottom">
            <div class = "frame-box-smallDetail"> </div>
            <div class="frame-box-infoWide">
                <div class="frame-list">
                    <div class="frame-box-list">Includes:</div>
                    <p class="frame-box-list-point">Responsive design<br></p>
                    <p class="frame-box-list-point">Option for multiple languages<br></p>
                    <p class="frame-box-list-point">Online forms<br></p>
                    <p class="frame-box-list-point">Content Management System<br></p>
                </div>
            </div>
            <div class = "frame-box-infoNarrow"><a href="/info" class = "linkylink frame-box-info" id="linkbox1" ></a></div>
        </div>
    </div>

    <div class="squiggles"></div><!--Need Bigger block squiggles-->


    <div class = "outer-container body-repeat">
        <div class="frame-box-infoTop">

            <div class = "frame-box-infoNarrow">
                <img src="" alt="" >
                <div id="frame2" class="frame-box-frame"></div>
                
                <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                <h1 class="frame-bulletpoint">Death Grips Something something</h1>
            </div>
            <div class = "frame-box-infoWide">
                <div class = "frame-box-textExplain" id="text-Colour2">
                    
                </div>
                <div class="frame-box-body">
                    <div  class="frame-box-body-point">
                        <div class="flex">
                            <div class="frame-box-body-text">$</div>
                            <div class="frame-box-body-text">1,755</div>
                        </div>
                        <div class="frame-box-body-minor">Hosting from $225 per year</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class="">
                        <div class="frame-box-body-text">5 days</div>
                        <div class="frame-box-body-minor">From approval of brief to functional page</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class = "icon-music nav-picture"></div>
                </div>
                
                <div class = "frame-box-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="frame-box-infoBottom">
            <div class = "frame-box-smallDetail"> </div>
            <div class="frame-box-infoWide">
                <div class="frame-list">
                    <div class="frame-box-list">Includes:</div>
                    <p class="frame-box-list-point">Responsive design<br></p>
                    <p class="frame-box-list-point">Option for multiple languages<br></p>
                    <p class="frame-box-list-point">Online forms<br></p>
                    <p class="frame-box-list-point">Content Management System<br></p>
                </div>
            </div>
            <div class = "frame-box-infoNarrow"><a href="/info" class = "linkylink frame-box-info" id="linkbox2" ></a></div>
        </div>
    </div>

    <div  class="squiggles"></div><!--Need Bigger block squiggles-->


    <div class = "outer-container body-repeat">
        <div class="frame-box-infoTop">

            <div class = "frame-box-infoNarrow">
                <img src="" alt="" >
                <div id="frame3" class="frame-box-frame"></div>
                
                <img src="img/thick-squiggle.png" alt="" class="small-squiggle">
                <h1 class="frame-bulletpoint">Death Grips Something something</h1>
            </div>
            <div class = "frame-box-infoWide">
                <div class = "frame-box-textExplain" id="text-Colour3">
                    
                </div>
                <div class="frame-box-body">
                    <div  class="frame-box-body-point">
                        <div class="flex">
                            <div class="frame-box-body-text">$</div>
                            <div class="frame-box-body-text">1,755</div>
                        </div>
                        <div class="frame-box-body-minor">Hosting from $225 per year</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class="">
                        <div class="frame-box-body-text">5 days</div>
                        <div class="frame-box-body-minor">From approval of brief to functional page</div>
                    </div>
                    <div class="frame-box-body-line"></div>
                    <div class = "icon-music nav-picture"></div>
                </div>
                
                <div class = "frame-box-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="frame-box-infoBottom">
            <div class = "frame-box-smallDetail"> </div>
            <div class="frame-box-infoWide">
                <div class="frame-list">
                    <div class="frame-box-list">Includes:</div>
                    <p class="frame-box-list-point">Responsive design<br></p>
                    <p class="frame-box-list-point">Option for multiple languages<br></p>
                    <p class="frame-box-list-point">Online forms<br></p>
                    <p class="frame-box-list-point">Content Management System<br></p>
                </div>
            </div>
            <div class = "frame-box-infoNarrow"><a href="/info" class = "linkylink frame-box-info" id="linkbox3" ></a></div>
        </div>
    </div>

    <!--This Needs expanded on and worked in css-->
    <div class = "process-section">
        <div class = "process-container">
            <h2 class = "exp-h2">Our Process</h2>
            <h3 class = "exp-h3">
                Our process is simple and effective.
                 From start to finish, without any unexpected delays, we can be sure to get your project completed within the timeframe agreed upon.
            </h3>
        </div>
        <div class = "process-container">
            <div class = "process-click">
                <div class = "process-click-show" style="display: inline-block">Show our 9-step Process</div>
                <div class = "process-click-hide" style="display: none">Hide our 9-step Process</div>
            </div>
            <div class="process-processes">
                <div class="process-process-container drop-list-list">
                    <div class="process-process-steps drop-list-items">
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">Select an option from above and answer the questions on the online form</p>
                            <img src="img/028-1.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We respond with additional questions to help us understand your goals</p>
                            <img src="img/029-2.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We finalise the brief together and agree on a schedule</p>
                            <img src="img/030-3.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">You pay the deposit and send over any available content and assets</p>
                            <img src="img/031-4.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We prepare the design mockup and get your approval</p>
                            <img src="img/032-5.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We build the website in Webflow and give you access</p>
                            <img src="img/033-6.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We provide you with documentation and instructions for your new editor</p>
                            <img src="img/034-7.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">The website is tested by yourselves and us</p>
                            <img src="img/035-8.svg" alt="" class="process-process-step-image">
                        </div>
                        <div class="process-process-step drop-list-item">
                            <p class="process-process-step-text">We launch the website on your domain and you settle the final payment</p>
                            <img src="img/036-9.svg" alt="" class="process-process-step-image">
                        </div>
                    </div>
                </div>
                <div class="process-process-final-step">
                    <p class="process-process-final-step-text">Don't worry, we don't leave you to tackle your new digital tool alone. We continue supporting you for a month after launch.</p>
                    <img src="img/music.svg" alt="" class="process-process-step-image">
                </div>
            </div>
        </div>
        
    </div>

    <div  class="squiggles"> </div>


    <div class="brief-section"> 
        <div class = "brief-container">
            <div class="brief-frame-box">
                <div class="brief-frame-title">
                    <h3 class ="sale-title">Experi<br>ment</h3>
                    <img src="img/frame.png" class="frame-box-frame brief-frame-frame frame-change"></img>
                </div>
                <div class ="brief-details">
                    <h2 class ="brief-text">Something about experimental music & this website. Click.</h2>
                    <a href="/info" class = "linkylink frame-box-info">Click me Please</a>
                </div>
            </div>
        </div>
    </div>


    <div  class="squiggles"> </div>

    <div class ="recommend-section">
        <div class ="default-container">
            <h2 class="exp-h2">Who Recommends</h2>
		    <h3 class="exp-h3">These are just a few highly rated reviews for experimental albums.</h3>
			<div class="list">
				<div role="list" class="">
					<div role="listitem" class=""><a href="https://www.wearekarel.com/" class="recommend-link">KAREL</a></div>
					
					<div role="listitem" class=""><a href="https://niniaazzopardi.com/" class="recommend-link">Ninia Azzopardi</a></div>
					
					<div role="listitem" class=""><a href="https://www.vitrinegallery.com/" class="recommend-link">VITRINE Gallery</a></div>
					
					<div role="listitem" class=""><a href="https://www.paulfurey.com/" class="recommend-link">Paul Furey</a></div>
					
					<div role="listitem" class=""><a href="https://www.medyachtsales.com/" class="recommend-link">Med Yacht Sales</a></div>
					
					<div role="listitem" class=""><a href="https://www.fishfortomorrow.com/" class="recommend-link">fish for tomorrow</a></div>
					
					<div role="listitem" class=""><a href="https://guide.simplylondonrelocation.com/general-landing-page/family-consultation" class="recommend-link">Simply London</a></div>
					
					<div role="listitem" class=""><a href="https://www.mymalteseguide.com/" class="recommend-link">My Maltese Guide</a></div>
				</div>
			</div>
        </div>
    </div>

    <div  class="squiggles"> </div>

    <div class = "fine-print-section">
        <div class ="default-container">
            <h2 class="exp-h2">Fineprint</h2>
            <div class = "process-click-show" style="display: inline-block">Show fineprint</div>
        </div>
    </div>

    <div  class="squiggles"> </div>

    <div class = "confused-section">
        <div class ="default-container">
            <h2 class="exp-h2">Confused?</h2>
            <h3 class="exp-h3">Good, the most important aspect of art is to invoke emotion, experimental music does that to the utmost degree.</h3>
            <p>Experimental Music. To explore your emotive range The music industry consists of the companies and independent artists that earn money by creating 
                    new songs and pieces and organising live concerts and shows, audio and video recordings, compositions and sheet music, 
                    and the organizations and associations that aid and represent music creators.</p>
            <div class = "double-button-container">
                <h2 class = "double-button-title">Something at the bottom to click on</h2>
                <div class = "double-buttons">
                    <a href="/info" class = "linkylink double-button">Click me Please</a>
                    <a href="/info" class = "linkylink double-button">Click me Please</a>
                </div>
            </div>
        </div>
    </div>

    <div  class="squiggles"> </div>


    <script src="js/index.js"></script>

</body>
</html>