<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="css/websitestyle.css">
    <link rel="stylesheet" href="vendor/fontello-00cf3757/css/fontello.css">
    <style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div class = "top-bar">
        <a href="/info" class = "nav-logo">
            <div class = "icon-music nav-picture"></div>
            <div class = "nav-text">Something</div>
        </a>
        <a href="/info"  class = "right-nav">something else
            <div class = "nav-text">Something</div>
        </a>
    </div>
</header>
<body>

    
    <div class = "topbox-container">
        <div class = "padded-container">
            <div class = "topbox-itemtop-1" style="color:blue">Music data base for all your music needs and whatnot</div>
            <div class = "topbox-itemtop-2">The music industry consists of the companies and independent artists that earn money by creating 
                new songs and pieces and organising live concerts and shows, audio and video recordings, compositions and sheet music, 
                and the organizations and associations that aid and represent music creators.</div>
            <div><a href="/info" class = "linkylink">Link box to sales</a></div>
        </div>
    </div>

    <div class = "outer-container">
        <div class = " list-num-head">We promise</div>
            <div class = "list-num-container">
                <div class = "list-point">
                    <div class = "list-num-img list-num-1"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-2"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-3"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
                <div class = "list-point">
                    <div class = "list-num-img list-num-4"></div>
                    <div class = "list-num-text">Example text</div>
                </div>
        </div>
    </div>


    <div class="squiggles"></div>
    
    <div class = "outer-container body-repeat">
        <div class="flexbox-infoTop">

            <div class = "flexbox-infoNarrow">
                <img src="" alt="">
            </div>
            <div class = "flexbox-infoWide">
                <div class = "flexbox-textExplain">
                    
                </div>
                <div class = "flexbox-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="flexbox-infoBottom">
            <div class = "flexbox-smallDetail"> </div>
            <div class = "flexbox-infoNarrow"><a href="/info" class = "linkylink flexbox-info" style="border-color: #C200FB; color: #C200FB;"></a></div>
        </div>
    </div>

    <div class="squiggles"></div><!--Need Bigger block squiggles-->

    <div class = "outer-container body-repeat">
        <div class="flexbox-infoTop">

            <div class = "flexbox-infoNarrow">
                <img src="" alt="">
            </div>
            <div class = "flexbox-infoWide">
                <div class = "flexbox-textExplain">
                    
                </div>
                <div class = "flexbox-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="flexbox-infoBottom">
            <div class = "flexbox-smallDetail"> </div>
            <div class = "flexbox-infoNarrow" ><a href="/info" class = "linkylink flexbox-info" style="border-color: #EC0868; color: #EC0868;"></a></div>
        </div>
    </div>

    <div class="squiggles"></div><!--Need Bigger block squiggles-->


    <div class = "outer-container body-repeat">
        <div class="flexbox-infoTop">

            <div class = "flexbox-infoNarrow">
                <img src="" alt="">
            </div>
            <div class = "flexbox-infoWide">
                <div class = "flexbox-textExplain">
                    
                </div>
                <div class = "flexbox-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="flexbox-infoBottom">
            <div class = "flexbox-smallDetail"> </div>
            <div class = "flexbox-infoNarrow"><a href="/info" class = "linkylink flexbox-info" style="border-color: #F18F01; color: #F18F01;"></a></div>
        </div>
    </div>

    <div  class="squiggles"></div><!--Need Bigger block squiggles-->


    <div class = "outer-container body-repeat">
        <div class="flexbox-infoTop">

            <div class = "flexbox-infoNarrow">
                <img src="" alt="">
            </div>
            <div class = "flexbox-infoWide">
                <div class = "flexbox-textExplain">
                    
                </div>
                <div class = "flexbox-smallDetail"> 

                </div>
            </div>
        </div>

        <div class="flexbox-infoBottom">
            <div class = "flexbox-smallDetail"> </div>
            <div class = "flexbox-infoNarrow"><a href="/info" class = "linkylink flexbox-info" style="border-color: #00E0CA; color: #00E0CA;"></a></div>
        </div>
    </div>

    <!--This Needs expanded on and worked in css-->
    <div class = "outer-container">
        <div class = "mid-header">
            Our process
        </div>
        <div class = "">
            Our Process is simple.
        </div>
        <a href="/info" class = "linkylink flexbox-info"></a>
    </div>

    <div  class="squiggles"> </div>

    <div class = "topbox-container">
        <!--Need Image and brief description and linkbox-->
    </div>

    <div  class="squiggles"> </div>

    <div class =""></div>
    <script src="js/index.js"></script>

</body>
</html>