<div class = "top-bar">
    <a href="/info" class = "nav-logo">
        <div class = "icon-music nav-picture"></div>
        <div class = "absolute">
            <div class = "icon-music nav-picture2"></div>
        </div>
        <div class = "nav-text">Something</div>
    </a>
    <a href="/info"  class = "right-nav">something else
        <div class = "nav-text">Something</div>
    </a>
</div>