<div class = "top-bar">
    <a href="/" class = "nav-logo">
        <div class = "icon-music nav-picture"></div>
        <div class = "absolute">
            <div class = "icon-music nav-picture2"></div>
        </div>
        <div class = "nav-text">Experiment</div>
    </a>
    <a href="/requests"  class = "right-nav">Let's Apply
        <div class = "nav-text">I want some Data</div>
    </a>
</div> <!--Nav bar for our website, same on all pages.-->