<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="css/websitestyle.css">
    <link rel="stylesheet" href="vendor/fontello-00cf3757/css/fontello.css">
    <style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <div class = "top-bar">
        <a href="/info" class = "nav-logo">
            <div class = "icon-music nav-picture"></div>
            <div class = "nav-text">Something</div>
        </a>
        <a href="/info"  class = "right-nav">something else
            <div class = "nav-text">Something</div>
        </a>
    </div>
</header>
    <body>
        <div class="sale-container">
                <div class ="sale-header">
                    <div class="title-container">
                        <img src="https://assets.website-files.com/5d5bb19b40c6be7cda82d388/5e8f2ff94bf4e452e180f4b0_BN_Frame-Orange.svg" alt="" class="sale-price-frame">
                        <h1 class="sale-title">Music Order</h1>
                    </div>
                    <div class="sale-includes">
                        <div class="sale-subheading">Includes:</div>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                    </div>
                </div>
        </div>
        <div class="bn-container price-form">
            <form id="wf-form-Mama-bare" name="wf-form-Mama-bare" data-name="Mama bare" class="bn-form">
                <div class="bn-field-container">
                    <label for="name" class="bn-field-label">Name</label>
                    <div class="bn-field">
                        <input type="text" class="bn-input w-input" maxlength="256" name="name" data-name="Name" hidefs="true" id="name" required=""></div></div>
                        <div class="bn-field-container">
                            <label for="name-2" class="bn-field-label">Email</label>
                            <div class="bn-field">
                                <input type="email" class="bn-input w-input" maxlength="256" name="Email" data-name="Email" hidefs="true" id="Email" required="">
                            </div>
                        </div>
                        <div class="bn-field-container">
                            <label for="name-2" class="bn-field-label">URL</label>
                            <div class="bn-field">
                                <input type="text" maxlength="256" name="URL" data-name="URL" id="URL" hidefs="true" class="bn-input w-input">
                                <div class="bn-field-note">If you already have a website please provide the URL.</div>
                            </div>
                        </div>
                        <div class="bn-field-container">
                            <label for="name-2" class="bn-field-label">Tell us more</label>
                            <div class="bn-field">
                                <textarea data-name="Comments" maxlength="5000" id="comments" name="comments" required="" hidefs="true" class="bn-textarea w-input"></textarea>
                                <div class="bn-field-note">Providing us with as much information as you can gives us a better chance of understanding your requirements.</div>
                            </div>
                        </div>
                        <div class="bn-form-button bn-button-orange">
                            <input type="submit" value="Send this" data-wait="Sending this" class="bn-cta w-button">
                        </div>
            </form>
        </div>

    </body>
</html>