<!DOCTYPE html>
<html lang="en">
    
<head>
    <link rel="stylesheet" href="css/websitestyle.css">
    <link rel="stylesheet" href="vendor/fontello-00cf3757/css/fontello.css">
    <style>
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <%- include('nav.ejs') %>
</header>
    <body>
        <div class="sale-container">
                <div class ="sale-header">
                    <div class="title-container">
                        <img src="https://assets.website-files.com/5d5bb19b40c6be7cda82d388/5e8f2ea0d571935198a94959_BN_Frame-Pink.svg" alt="" class="sale-price-frame"></img>
                        <h1 class="sale-title">Music Order</h1>
                    </div>
                    <div class="sale-includes">
                        <div class="sale-subheading">Includes:</div>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                        <h2 class="sale-text-item">Something</h2>
                    </div>
                </div>
        
        
            <div class="sale-form-container sale-form">
                <form name="form-sale" data-name="" class="sale-form">
                    <div class="field-container label">
                        <label for="name" class="sale-form-label">Name</label>
                        <div class="sale-field">
                            <input type="text" class="sale-input" maxlength="256" name="name" data-name="Name" hidefs="true" id="name" required="">
                        </div>
                    </div>
                    <div class="field-container label">
                        <label for="" class="sale-form-label">Email</label>
                        <div class="sale-field">
                            <input type="email" class="sale-input" maxlength="256" name="Email" data-name="Email" hidefs="true" id="Email" required="">
                        </div>
                    </div>
                    <div class="field-container label">
                        <label for="" class="sale-form-label">URL</label>
                        <div class="sale-field">
                            <input type="text" maxlength="256" name="URL" data-name="URL" id="URL" hidefs="true" class="sale-input">
                            <div class="sale-field-note">If you already have a Website please provide the URL.</div>
                        </div>
                    </div>
                    <div class="field-container label">
                        <label for="" class="sale-form-label">Tell us more.</label>
                        <div class="sale-field">
                            <textarea data-name="Comments" maxlength="5000" id="comments" name="comments" required="" hidefs="true" class="sale-textarea"></textarea>
                            <div class="sale-field-note">Providing us with as much information as you can gives us a better chance of understanding your requirments.</div>
                        </div>
                    </div>
                    <div class="sale-form">
                        <input type="submit" value="Send this" data-wait="Sending this" class="sale ????">
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>