<div class="yellow-squiggle-container">
    <div class="request-container">
        <div class="yellow-includes">
            <h1 class="">All Artists Include</h1>
            <div class="yellow-includes-items">
                <div class="yellow-includes-item">
                    <img src="img/flask.svg" alt="" class="yellow-includes-image step-1">
                    <h2 class="">Experimenting</h2>
                </div>
                <div class="yellow-includes-item">
                    <img src="img/abstract.svg" alt="" class="yellow-includes-image step-2">
                    <h2 class="">Abstraction</h2>
                </div>
                <div class="yellow-includes-item">
                    <img src="img/boombox.svg" alt="" class="yellow-includes-image step-3">
                    <h2 class="">Musicality</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="squiggle-background-container">
        <div class="yellow-squiggles yellow-squiggles-top"></div>
        <div style="opacity: 1;" class="yellow-background"></div>
        <div class="yellow-squiggles yellow-squiggles-bottom"></div>
    </div>
</div>