    @media screen and (max-width: 767px){
        .list-container {
            margin-top: 5rem;
            margin-bottom: 10rem;
        }
    }
    @media screen and (max-width: 991px){
        .list-container {
            margin-top: 8rem;
            margin-bottom: 10rem;
        }
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: sans-serif;
        margin-right: auto;
        margin-left: auto;
    }
    p {
        max-width: 56rem;
        font-size: 30px;
        font-weight: 400;
        margin-top: 0;
    }
    img {
        border: 0;
        display: inline-block;
    }
    .absolute{
        position: absolute;
    }
    .flex {
        display: flex;
        align-items: center;
    }
    .default-container , .outer-container, .topbox-container, .sale-container, .process-container, .brief-container{
        position: relative;
        max-width: 75rem;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .outer-container{
        margin-bottom: 20rem;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px; 
        column-gap: 10px;
        row-gap: 10px;
    }
    .grid-item {
        background-color: blue;
        border: 1px solid black;
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    .frame-box-infoTop{
        display: flex;
        padding-bottom: 6rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .frame-box-infoBottom{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
    }
    .frame-box-infoWide{
        display: flex;
        width: 100%;
        max-width: 46rem;
        padding-left: 5rem;
        flex-direction: column;
    }
    .frame-box-infoNarrow{
        position: relative;
        width: 28rem;
        flex: 0 0 auto;
    }
    .frame-box-textExplain{
        color: deeppink;
        font-weight: 600;
        margin-bottom: 7rem;
        content: "\"";
    }
    .frame-box-info{
        border-color: deeppink;
        color: deeppink;
    }
    .frame-box-smallDetail{
        border: 1px;
    }
    .linkylink{
        display: inline-block;
        margin-bottom: .5rem;
        padding: 1.25rem 4rem;
        border-style: solid;
        border-width: 2px;
        transition-property: none;
        font-family: sans-serif;
        font-size: 18px;
        letter-spacing: .05em;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
    }
    .container-container{
        max-width: 77rem;
        padding: 0 1.5rem 0 10.5rem;
        text-align: left;
        display: flex;
        flex-direction: column;
    }
    .topbox-container{
        margin-top: 10rem;
        margin-bottom: 20rem;
    }
    .topbox-itemtop-1{
        max-width: none;
        color: blue;
        font-size: 96px;
        line-height: 1em;
        font-weight: 700;
    }
    .topbox-itemtop-2{
        max-width: 56rem;
        margin: 0 0 3rem 0;
        padding-right: 2rem;
        font-size: 24px;
        line-height: 1.5em;
        font-weight: 500;
    }
    .a:link, .a:visited {
        background-color: blueviolet;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
      
    .a:hover, .a:active {
        background-color:blue;
    }
    .list-num-head{
        color: blue;
        font-size: 140px;
        width: auto;
        height: auto;
        font-weight: bolder;
        position: relative;
        min-height: 100px;
    }
    .list-num-container{
        margin-top: 3rem;
    }
    .list-point{
        position: relative;
        display: flex;
        max-width: 45rem;
        margin-bottom: 5rem;
        align-items: flex-start;
    }
    .list-point:nth-child(even) {
        margin-left: 18rem;
    }
    .list-num-text{
        position: relative;
        font-size: 30px;
        font-weight: 550;
        min-height: 100px;
    }
    .list-num-img{
        width: 5rem;
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        min-height: 100px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .list-num-1{
        background-image: url(../img/Blue-num1.jpg); 
    }
    .list-num-2{
        background-image: url(../img/Blue-num2.jpg);
    }
    .list-num-3{
        background-image: url(../img/Blue-num3.jpg);
    }
    .list-num-4{
        background-image: url(../img/Blue-num4.jpg);
    }
    .squiggles {
        width: 100%;
        height: 1.9rem;
        margin-top: 15rem;
        margin-bottom: 15rem;
        background-image: url(https://assets.website-files.com/5d5bb19b40c6be7cda82d388/5e8f2855f01a47ff979d91cc_BN-Squiggle-Stroke.svg);
        background-position: 0 50%;
    }
    .top-bar{
        display: flex;
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 1em;
        align-items: center;
        width: 100%;
        max-width: 77rem;
        margin-right: auto;
        margin-left: auto;
    }
    .nav-logo {
        display: flex;
        color: Blue;
        text-decoration: none;
    }
    .nav-text{
        font-size: 18x;
    }
    .nav-picture{
        font-size: 60px;
        margin-left: 3px;
    }
    .nav-picture2{
        position: absolute;
        font-size: 60px;
        color: #1c2e4a;
        z-index: -1;
        top: 9px;
    }
    .right-nav{
        color: black;
        margin-left: auto;
        text-decoration: none;
    }
    .sale-header{
        display: flex;
        margin-top: 8rem;
        margin-bottom: 10rem;
        align-items: center;
    }
    .sale-container{
        box-sizing: border-box;
        padding-right: 1.5rem;
        padding-left: 1rem;
        line-height: 1em;
    }
    .sale-price-frame{
        left: -3rem;
        z-index: -1;
        width: 28rem;
        max-width: none;
        transform: rotate(-10deg);
        position: absolute;
        right: auto;
        bottom: auto;
    }
    .title-container{
        position: relative;
    }
    .sale-title {
        max-width: 26rem;
        color: #00f;
        font-size: 120px;
        line-height: .9em;
        font-weight: 600;
    }
    .sale-includes{
        position: relative;
        color: orangered;
    }
    .sale-heading{
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 1.2em;
    }
    .sale-text-item{
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 32px;
        line-height: 1em;
    }
    .sale-form-container{
        box-sizing: border-box;
        padding-right: 1.5rem;
        padding-left: 1rem;
    }
    .sale-form-item{
        display: flex;
        margin-bottom: 4rem;
        align-items: center;
    }
    .sale-form-label{
        width: 30%;
        max-width: 26rem;
        padding-right: 2rem;
        box-sizing: border-box;
    }
    .sale-input{
        border-style: none none solid
    }
    .sale-field{
        box-sizing: border-box;
        width: 70%;
    }
    .sale-field-note{
        opacity: 0.5;
    }
    .field-container{
        display: flex;
        padding-bottom: 40px;
    }
    .field-container label{
        box-sizing: border-box;
    }
    .sale-textarea{
        resize: vertical;
        min-height: 12rem;
        width: 100%;
        border-width: 2px;
        box-sizing: border-box;
    }
    .sale-form{
        font-size: 30px;
    }
    .frame-box-body {
        display: flex;
        margin-top: auto;
        align-items: flex-start;
    }
    .frame-box-body-text {
        margin-bottom: .5rem;
        font-size: 42px;
        font-weight: 700;
        line-height: 1em;
        font-family: sans-serif;
    }
    .frame-box-body-minor {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
    .frame-box-body-line {
        width: 6rem;
        height: 2px;
        margin-top: 1.9rem;
        margin-right: 1.5rem;
        margin-left: 1rem;
        background-color: black;
    }
    .frame-box-body-image {
        max-width: 6.5rem;
    }
    .frame-list{
        
    }
    .frame-box-list {
        margin-bottom: 1rem;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2em;
    }
    .frame-box-list-point {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1.5em;
    }
    .frame-box-frame{
        left: -4.2rem;
        top: -3rem;
        z-index: -1;
        width: 28rem;
        max-width: none;
        position: absolute;
        right: auto;
        bottom: auto;
    }
    .price-frame {
        left: -4.5rem;
        top: -5rem;
        z-index: 1;
        width: 29rem;
        position: absolute;
        right: auto;
        bottom: auto;
    }
    .small-squiggle{
        max-width: 11rem;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    .process-process-steps {
        display: flex;
        margin-top: 8rem;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .process-process-step {
        margin-bottom: 8rem;
        padding-right: 0;
        padding-left: 0;
        flex: 33%;
    }
    .list-item {
        position: relative;
        float: left;
        width: 33.33333333%;
        min-height: 1px;
    }
    .process-process-step-text {
        max-width: 19rem;
    }
    .process-process-final-step-text {
        padding-right: 6rem;
    }
    .process-process-final-step-text, .process-process-step-text {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1.5em;
        font-family: Spacegrotesk,sans-serif;
    }
    .process-process-step-image {
        left: -4rem;
        top: -4.5rem;
        width: 7rem;
        opacity: .5;
    }
    .price-frame, .process-process-step-image {
        position: absolute;
        right: auto;
        bottom: auto;
    }
    .process-process-final-step {
    position: relative;
        max-width: 66.66%;
        margin-left: auto;
    }
    .process-process-step-image {
        left: -4rem;
        top: -4.5rem;
        width: 7rem;
        opacity: .5;
    }
    .price-frame, .process-process-step-image {
        position: absolute;
        right: auto;
        bottom: auto;
    }
    .process-container {
        padding-right: 1.5rem;
        padding-left: 1rem;
    }
    .exp-h2 {
        font-weight: 700;
    }
    .exp-h2, .exp-h3 {
        color: blue;
        font-family: sans-serif;
    }
    .exp-h2 {
        margin-bottom: 2rem;
        margin-left: 0;
        font-size: 144px;
        line-height: 1.2em;
    }
    .exp-h3 {
        margin-top: 0;
        margin-bottom: 4rem;
        font-size: 72px;
        line-height: 1em;
        font-weight: 500;
    }
    .process-click-show, .process-click-hide {
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 2px dotted blue;
        color: Blue;
        font-size: 24px;
        line-height: 1em;
        letter-spacing: .1em;
        cursor: pointer;
    }
    .drop-list-item{
        position: relative;
        float: left;
        width: 33.33333333%;
        min-height: 1px;
    }
    .brief-section{
        position: relative;
        margin-top: 10rem;
        margin-bottom: 13rem;
    }
    .brief-container{
        padding-right: 1.5rem;
        padding-left: 1rem;
    }
    .brief-frame-box{
        display: flex;
        max-width: 55rem;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
    }
    .brief-text {
        max-width: 29rem;
        margin-bottom: 3rem;
        font-family: sans-serif;
        color: blue;
        font-size: 32px;
        line-height: 1.2em;
    }
    .brief-frame-title{
        position: relative;
        max-width: 22rem;
        margin-right: 7rem;
    }
    .brief-details{
        max-width: 29rem;
        margin-bottom: 3rem;
        font-family: sans-serif;
        color: Blue;
        font-size: 32px;
        line-height: 1.2em;
    }
